// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.sidebar-menu{
    padding: 0;
    list-style: none;

    li{
        display: inline-block;
        width: 100%;
        a{
            text-decoration: none;
            display: inline-block;
            width: 100%;
            padding: 10px 20px;
            border: 1px solid #dddddd;
            font-size: 14px;

            &:hover{
                background-color: green;
                font-size: 16px;
                color: white;
            }
            
        }
        .active{
            background-color: green;
            font-size: 16px;
            color: white;
        }
    }
}

.cardHome{

    .card-title{
        font-size: 26px;
        font-weight: 600;
        color: black;
    }
    .card-text{
        font-size: 14px;
        font-weight: 400;
        color: #707070;

        .category{
            color: black;
            margin: 0;
            font-weight: 600;
        }
        .text-muted{

        }
    }
}

.cardReadMore {
   .card-title {
      font-size: 32px;
      font-weight: 900;
      color: black;
   }

   .card-text {
      font-size: 16px;
      font-weight: 400;
      color: #4b4b4b;

      .category {
         color: black;
         margin: 0;
         font-weight: 600;
      }
      .text-muted {}
   }
}

.img{
    height: 300px;
    img{
        height: 100%; 
        width: 100%;
        object-fit: cover;
    }
}

.card{
   padding: 0;
}

.readMoreImg{
   width: 100%;
}